button.btn {
    padding: 10px 1em;
    font-size: 20px;
    border: 1px solid purple;
    border-radius: 10px;
    color: purple;
    background-color: #b5b5b5;
    transition: color 200ms linear, background-color 200ms linear;
}

.btn:hover {
    cursor: pointer;
    color: #efefef;
    background-color: purple;
}

#graph {
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    margin: 0 auto;
}

div#analysis-data {
    display: flex;
    margin: 1em auto;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 25%;
}

#analysis-data-point {
    padding: 0 20px;
}
