button.btn {
    padding: 10px 1em;
    font-size: 20px;
    border: 1px solid purple;
    border-radius: 10px;
    color: purple;
    background-color: #b5b5b5;
    transition: color 200ms linear, background-color 200ms linear;
}

.btn:hover {
    cursor: pointer;
    color: #efefef;
    background-color: purple;
}

div#analysis {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

div#analysis-data {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

#analysis-data-point {
    padding: 0 20px;
}
