button.btn {
    padding: 10px 1em;
    font-size: 20px;
    border: 1px solid purple;
    border-radius: 10px;
    color: purple;
    background-color: white;
    transition: color 200ms linear, background-color 200ms linear;
}

.btn:hover {
    cursor: pointer;
    color: #efefef;
    background-color: purple;
}
